{% extends 'blog/base.html' %}
{% load static %}
{% block content%}
{% for post in posts %}
<div class="post container">
    <div class="d-flex row up container">
        <div class="col-xs-3 col-sm-1">
					<img src="{{ post.author.profile.image.url }}" class="rounded-circle img-fluid" alt="{{post.author.username}}" >
        </div>
        <div class="name m-2"><h3>{{post.author.first_name }} {{post.author.last_name }} </h3></div>
        <div class="date"><span>{{post.date_posted}}</span></div>
    </div>
    <hr>
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
</div>
{% endfor %}
{% endblock %}
